.start-recipe-btn {
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
}

.carousel-inner {
  display: flex;
}

.carousel-image {
  height: 250px;
  width: 250px;
}

.carousel-item {
  margin: 10px;
}
